extends layout.pug

block content
    section.container
        div.item.logo
        div.item
            h1
                a(href="/") formulario #{   title    }
                    if(data.length)
                        
                        table.table(style='width:100%', border='1')
                            tr
                                th Id
                                th Titulo
                                th anio
                                th Puntuacion 
                                th Poster  
                                th(colspan="2")
                                    form(method="get" action="/agregar") 
                                        input.button.add(type="submit", value="Agregar")
                            each movie in data
                                tr
                                    td #{movie.movie_id}
                                    td #{movie.title}                            
                                    td #{movie.release_year}                           
                                    td #{movie.rating}                                                       
                                    td
                                        img.poster(src="#{movie.images}" )
                                    td
                                        
                                        form(method="get" action=`/editar/${movie.movie_id}`)
                                            input.button.edit(type="submit", value="Editar")
                            
                                    td 
                                         form(method="post" action=`/eliminar/${movie.movie_id}`) 
                                            input.button.delete(type="submit", value="Eliminar" onclick="eliminar(this)")

                        script.
                             function eliminar (input)  {
                                    var deleteOk = confirm('estas seguro de eliminar la pelicula')
                                    return (deleteOk) ? input.parentNode.submit()  : false 
                                                        }

                    else
                        p.error No existen peliculas en la Base de datos.